#container {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: auto;
    grid-template-areas:
            "menu logo content"
            "menu footer footer";
}

nav {
    background-color: lightblue;
    grid-area: menu;
}
#logo{
    background-color: orangered;
    grid-area: logo;
    height: 120px;
}
#content{
    background-color: coral;
    grid-area: content;
}
footer{
    background-color: lightgreen;
    grid-area: footer;
}
nav, footer, #content, #logo{
    padding: 5px;
    text-align: center;
}
@media (max-width: 600px){
    #container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas:
                "menu menu"
                "logo content"
                "footer footer";

}}